<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.9.0/css/all.min.css" th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="/webjars/popper.js/1.14.7/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script src="/webjars/jquery-form/4.2.2/jquery.form.min.js" th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
    <script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
    <script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
    <script src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js" th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
    <style>
        .status-verified {
            color: green;
        }

        .status-pending {
            color: red;
            /* or any other color you prefer */
        }
    </style>
    <style>
        .table-responsive {
            overflow-x: auto;
        }
    </style>
    <style>
        .table {
            width: 129%;
            margin-bottom: 1rem;
            color: #212529;
        }

        .btns {
            float: right;
            margin: 5px;
        }

        .col-sm-5 {
            padding-bottom: 15px;
        }

        .list-body {
            padding: 0px;
        }

        .error {
            color: red;
            padding-left: 10px;
        }

        .formline {
            padding-bottom: 4px;
        }

        #finusertb {
            width: 460px;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0px;
        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            border: 2px solid skyblue !important;
            border-bottom: unset !important;
            background-color: unset !important;
            color: black !important;
            background-color: unset !important;
        }

        nav {
            border-bottom: 2px solid grey;
        }

        fieldset {
            
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
            margin-right: 20px;
        }

        .filterable .filters input[readonly] {
            background-color: transparent;
            border: none;
            cursor: auto;
            box-shadow: none;
            padding: 0;
            height: auto;
        }

        .filterable .filters input[readonly]::-webkit-input-placeholder {
            color: #333;
        }

        .filterable .filters input[readonly]::-moz-placeholder {
            color: #333;
        }

        .filterable .filters input[readonly]:-ms-input-placeholder {
            color: #333;
        }

        td input {
            border: 1px solid #ced4da;
        }
        .total{
        display:flux;
        text-align:center;
        padding-top:20px;
        padding-left:170px;
        }
        .inp{
        border:none;
        outline:none;
        color:#000000;
        fornt-weight:bold;
        }
    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/

        function home() {
            location.href = 'Dashboard'
        }

        function back() {
            window.history.back();
        }
    </script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div th:insert="BTMHeaderMenu :: header"></div>
            </div>
            <div class="col-sm-10">
                <div class="container-fluid content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="#" th:object="${asset_flows}" method="POST" autocomplete="off" id="asset_flows">
                                <div class="card">
                                    <div class="card-header p-0">
                                        <div class="float-left">
                                            <h3 class="btn btn-sm mr-2 headerbutton mt-1">INVENTORIES - BAR CHART</h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <fieldset>
                                            <div class="form-group mb-0">
                                                <div class="row formline">
                                                    <!-- <div class="col-sm-3">
                                                        <label for="month">Select a Month :</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select id="month" name="month" class="form-control form-control-sm">
                                                            <option value="">Select</option>
                                                            <option value="01">January</option>
                                                            <option value="02">February</option>
                                                            <option value="03">March</option>
                                                            <option value="04">April</option>
                                                            <option value="05">May</option>
                                                            <option value="06">June</option>
                                                            <option value="07">July</option>
                                                            <option value="08">August</option>
                                                            <option value="09">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                    </div> -->
                                                     <div class="col-sm-3"></div>
                                                    <div class="col-sm-2">
                                                        <label for="year">Select a Year :</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select name="year" id="year" class="form-control form-control-sm">
                                                            <option value="">Select</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2016">2016</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                        </select>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </fieldset>
                                        <fieldset style=" width: 55%; transform: translateX(280px);margin-right:50px">
                                            <canvas id="myBarChart"  ></canvas>
                                            <div class="total">
                                            <p><b>total inventory:
                                            <input class="inp" type="text" id="total"/>
                                             </b></p>
                                            </div>
                                        </fieldset>
                                      
                                    </div>
                                    <div class="card-footer text-center p-0" >
                                            <button type="button" class="btn headerbutton" id="btnHome" onclick="home()">Home</button>
                                            <button type="button" class="btn headerbutton" id="btnBack" onclick="back()">Back</button>
                                        </div>
                                </div>
                                  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
document.addEventListener("DOMContentLoaded", function () {
	
            var ctx = document.getElementById('myBarChart').getContext('2d');
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['APR', 'MAY', 'JUN','JULY','AUG','SEP','OCT','NOV','DEC','JAN','FEB','MAR',],
                    datasets: [{
                        label: 'INVENTORYIES',
                        data: [0, 0, 0],
                        backgroundColor: [
                            'rgba(135, 206, 235, 0.9)',
                            'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)',
                            'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)',
                            'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)', 'rgba(135, 206, 235, 0.9)'
                        ],
                        borderColor: [
                            'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)',
                            'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)', 'rgba(0, 0, 0, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top',
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.dataset.label + ': ' + tooltipItem.raw;
                                }
                            }
                        }
                    }
                }
            });
            
            function updateChart(data) {
            	myBarChart.data.datasets[0].data = data;
                myBarChart.update();
                
            }

            document.getElementById('year').addEventListener('change', function () {
                var year = this.value;
                fetchDataAndUpdateChart(year);
            });

            function fetchDataAndUpdateChart(year) {
                if (year) {
                    // Placeholder for fetching data based on selected month and year
                    // Replace the following with actual data fetching logic
                    $.ajax({
                    	type:'GET',
                    	url:"./Graphsdata",
                    	data:{year:year},
                    	success:function(response){
                    		var totalinventory=response.totalinventory;
                    		var APR = response.APR;
                    		var MAY = response.MAY;
                    		var JUN = response.JUN;
                    		var JULY = response.JULY;
                    		var AUG = response.AUG;
                    		var SEP = response.SEP;
                    		var OCT = response.OCT;
                    		var NOV = response.NOV;
                    		var DEC = response.DEC;
                    		var JAN = response.JAN;
                    		var FEB = response.FEB;
                    		var MAR = response.MAR
                    		//var newinventory= response.newinventory;
                    		var t=document.getElementById("total");
                    		
                    		
                    		if(totalinventory ==0 && APR==0 && MAY==0 && JUN==0 && JULY==0 && AUG==0 && SEP==0 && OCT==0 && NOV==0 && DEC==0 && JAN==0 && FEB==0 && MAR==0 ){
                    			alert("No Record found in this date");
                    			location.reload();
                    		}
                    		else{
                    		t.value=totalinventory;
                    		updateChart([APR,MAY,JUN,JULY,AUG,SEP,OCT,NOV,DEC,JAN,FEB,MAR]);
                    		
                    		}
                    	},
                    	error: function(error) {
                            console.error("Error fetching asset details:", error);
                          
                        }
                    });
                    }
                    
                }

            function generateDummyData(month, year) {
                // Replace this with actual data fetching logic
                return [100.00, 10.525,10.5323];
            }
        });
    </script>
</body>

</html>
