<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:fragment="header">

<head>

<title>BAM</title>
<script src="/js/maxcdn.js" th:src="@{/js/maxcdn.js}"></script>
<link rel="stylesheet" type="text/css" href="/css/loader.css"
	th:href="@{/css/loader2.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"> 
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>

<style>
.header1 {
	background-color: #83b5ec;
}

.dropdown-menu>li {
	margin-left: 10px;
}

.error {
	color: red;
	padding-left: 10px;
}

#menu {
	background-color: #7593b3;
	position: absolute;
	position: fixed;
	width: 14.5%;
	top: 40px;
	left: -1px;
	overflow-y: auto;
	height: 100%;
}

#menu>ul>li>a {
	display: block;
	background-color: #2b506f;
	color: #f1eaea;
	font-size: 14px;
	border-bottom-style: outset;
	font-family: verdana;
}

#menu>ul>li>a:hover {
	background-color: #7593b3;
	color: #f1eaea;
}

.sidenav>li>ul>li>a:hover {
	color: 7593b3;
}

.sidenav>li>ul>li>a {
	padding: .2rem .2rem !important;
}

#userdtl, #dropico {
	float: right;
}

.submenu1>ul>li>a {
	display: block;
	background-color: red;
	color: #f1eaea;
	font-size: 12px;
}

#headerdiv {
	top: 50%;
	left: 40%;
	height: 50px;
	color: #f26223;
	position: absolute;
	text-align: center;
	margin: -20px 0 0 -0px;
}

#showmenu, #userdtl {
	font-weight: 700;
	font-size: larger;
}

nav {
	background-color: #fafafa;
}

#pagetitle {
	top: 114%;
	left: 50%;
	height: 50px;
	color: #e80909;
	position: absolute;
	text-align: center;
	margin: -25px 0 0 -31px;
}

#logoutmenu {
	display: none;
	position: absolute;
	z-index: 1031;
	width: 200px;
	background-color: #dee2e6;
	box-shadow: 3px 1px 11px 1px #888888;
	border-radius: 5px;
	background-color: #dee2e6;
	right: 0px;
	top: 70px;
	border: 2px solid #4d8cb9;
	position: fixed;
}

#ques {
	margin-top: -54px;
	float: right;
	padding: 65px;
}

.logout {
	color: #2e7bd0;
}

.content {
	margin-top: 100px;
}

html {
	zoom: 0.8;
}

label {
	text-align: left;
}

.modal-backdrop {
	width: 200vw;
	height: 200vh;
}

section {
	padding-left: 15px;
}

.form-control:focus {
	color: #495057;
	outline: 0;
	box-shadow: unset !important;
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: unset !important;
}

 .nav-link-collapse:after {
	font-family: 'Font Awesome 5 Free';
	color: red;
} 

.nav-link-show:after {
	float: right;
	content: '\f068';
	font-family: 'Font Awesome 5 Free';
	color: red;
}

ul {
	list-style: none
}

li a {
	color: #fffdfdbf;
}

a {
	text-decoration: none !important;
}

  #showmenu1 {
        width:100px;
        height:100px; /* Maintain the same width and height to create a circular shape */
        border-radius: 50%; /* Use a border-radius of 50% to create a circle */
        object-fit: fill; /* Ensure the image covers the circular area without distortion */
    }
    
    

</style>
<script type="text/javascript">
	/*<![CDATA[*/

	/* Re-Direction Functionality */
	function contentLoad(a) {

		location.href = "/BAM/" + a.id;
	}

	/* LogOut Functionality */
	function logout() {
		$("#datalogout").modal("toggle");
	}

	$(document).ready(function() {
		$('.nav-link-collapse').on('click', function() {
			$('.nav-link-collapse').not(this).removeClass('nav-link-show');
			$(this).toggleClass('nav-link-show');
		});
	});

	function logoutfunc() {

		location.href = "/BAM/logoutsub";

	}
	function docEmb() {
		url = /*[[@{/document/Intranet-UserManual.pdf}]]*/null;
		var element = document.getElementById('Manual');
		var Record = element.getAttribute('data-record');
		console.log(Record);
		var pageNum = null;
		
		window.open(url + "#page=" + pageNum, "_blank", "width=600, height=500");
	}
</script>

</head>

<body >
	<input type="hidden" id="activemenu" th:value="${menu}" />
	<nav class="navbar fixed-top navbar-expand-md navbar-dark  mb-3"
		style="box-shadow: 6px 6px 12px #f26223; height: 70px">

		<div class="col-sm-12">
			<div class="float-left">
			<img th:src=@{/images/Bornfire.png}
				style="width: 100px; height: 60px" id="showmenu" alt="Bornfire">
			</div>
			<div id="headerdiv">
				<h3 style="font-weight: bold;">BORNFIRE ASSET MANAGER</h3>
			</div>
			<button type="button" class="btn btn-default float-right" id="userdtl"
				style="margin-top: 5px;color:black">
				
					 
					 <font style="font-family: Verdana;font-size: smaller;" th:text="'USER ID :'+'&nbsp&nbsp'+${session.USERID}"> </font>
					 <br>  <font style="font-family: Verdana;font-size: smaller;" th:text="'USER NAME :'+'&nbsp&nbsp'+${session.USERNAME}"> </font>
					
					<!-- <h6 style="font-family: verdana;font-size: medium;font-weight: bold;">LOGINTIME:<span style="margin-left: 145px;"></span></h6>
				 --><!-- </i> -->
			</button>	

			<div class="btn btn-default float-right"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src=@{/images/homePage.png} style="width: 30px; height: 30px; cursor: pointer;"
					onclick="contentLoad(this)" title="Dashboard" id="Dashboard" alt="Dashboard">
			</div>
			<div class="btn btn-default float-right"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src=@{/images/transactionIcon.png} style="width: 30px; height: 30px; cursor: pointer;"
					onclick="contentLoad(this)" title="dashboardMaster" id="dashboardMaster" alt="Snapshot">
			</div>
					<div class="btn float-right" onclick="docEmb()" id="Manual"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src="@{/images/userManualIcon.png}" style="width: 30px; height: 30px; cursor: pointer;"
					onclick="docEmb();cursor:pointer;" title="Manual" id="Manual" alt="Manual">
			</div>
			
		</div>
		
		
		<!-- <div class="col-sm-12" style="border-color: red ; display: flex; justify-content: space-between;" >
			<div class="float-left">
				<img th:src=@{/images/banklogo.jpeg} id="showmenu" style="width: 350px; height: 70px" alt="Bornfire">
			</div>
			<div style=" display: flex; justify-content: center;align-items: center; color: #f26223; font-size: 24; font-weight: bold;">
				 QR PAYMENT BANK ADMIN PORTAL
				</div>
				<div>
			<div class="btn float-right" id="userdtl" title="Profile" style="margin-top: 20px;">
				<img th:if="${session.IMAGEUSER} == null" style="width: 30px; height: 30px; cursor: pointer;"
					th:src="@{/Image/userProfile.png}" class="imageround">
				<font style="font-family: calibri; color: #162b75; font-size: 20px; cursor: pointer;"
					th:text="'&nbsp;&nbsp;' + ${session.USERNAME}"></font> <img th:if="${session.IMAGEUSER} != null"
					th:src="*{'data:image/png;base64,' + session.IMAGEUSER}" class="imageround"
					style="color: blue; font-size: 20px;">
			</div>
			<div class="btn float-right" onclick="docEmb()" id="Manual"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src="@{/Image/userManualIcon.png}" style="width: 30px; height: 30px; cursor: pointer;"
					onclick="docEmb();cursor:pointer;" title="Manual" id="Manual" alt="Manual">
			</div>
			<input type="text" id="pdate" autocomplete="off"
				th:value="${#dates.format(RoleMenu?.password_expiry_date,'yyyy-MM-dd')}" hidden="true" /> <input
				type="text" id="pdatebank" autocomplete="off"
				th:value="${#dates.format(RoleMenuss?.password_expiry_date,'yyyy-MM-dd')}" hidden="true" />
			<div class="btn btn-default float-right"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src=@{/Image/homePage.png} style="width: 30px; height: 30px; cursor: pointer;"
					onclick="contentLoad(this)" title="Dashboard" id="IPSDashboard" alt="Dashboard">
			</div>
			<div class="btn btn-default float-right"
				style="margin-top: 23px; width: 4px; margin-left: 17px; margin-right: 32px;">
				<img th:src=@{/Image/transactionIcon.png} style="width: 30px; height: 30px; cursor: pointer;"
					onclick="contentLoad(this)" title="Snapshot" id="snapShot" alt="Snapshot">
			</div>
			</div>
		</div>
 -->	
 </nav>

	<div id="menu"
		style="box-shadow: 6px 6px 12px #888888; z-index: 1000px;background-color:#f26223;">
		<ul class="navbar-nav mr-auto sidenav" id="navAccordion">
			<li class="nav-item"><a class="nav-link pl-3 pt-5" 
				id="Dashboard" href="#" onclick="contentLoad(this)" style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Home</a></li>

			<!-- <li class="nav-item active"><a class="nav-link pl-3" data-toggle="collapse" href="#Dashboard" id="home"
					onclick="contentLoad(this)">Home</a></li> -->

			<li class="nav-item"><a th:if="${RoleMenu?.role=='ADM'}"
				class="nav-link nav-link-collapse pl-3" href="#" id="hasSubItems"
				data-toggle="collapse" data-target="#collapseSubItems1"
				aria-controls="collapseSubItems1" aria-expanded="false" style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Admin</a>

				<ul class="nav-second-level collapse" id="collapseSubItems1"
					data-parent="#navAccordion" style="background-color: #ff751a;">
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="UserProfile" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 20px; font-weight: bold; background-color: #ff751a;">User Profile</a></li>
					<!-- <li class="nav-item"><a class="nav-link"
						id="organizationMaster" href="#" onclick="contentLoad(this)">Parameters</a></li>-->

					<!-- <li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="adminReferenceMaster" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Reference Code Master</a></li>

					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="dashboardMaster" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Dashboard Master</a></li>

					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="chartofaccount" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Chart of Accounts</a></li> -->
						
					<!-- <li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="GeneralLedger" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Account Ledger</a></li> -->
					
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="AccountLedger" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Account Ledger</a></li> 
						
					<!--<li class="nav-item"><a class="nav-link"
						id="attendanceRegister" href="#" onclick="contentLoad(this)">Attendance
							Register </a></li>
					<li class="nav-item"><a class="nav-link"
						id="BTMAdminAccessandRole" href="#" onclick="contentLoad(this)">Access
							and Role </a></li>

					<li class="nav-item"><a class="nav-link"
						id="organizationMaster" href="#" onclick="contentLoad(this)">Organization
							Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminAssociateProfile" href="#" onclick="contentLoad(this)">Associate
							Profile</a></li>

						<li class="nav-item"><a class="nav-link" id="adminUserProfile" href="#"
							onclick="contentLoad(this)">User Profile</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminProfileMaster" href="#" onclick="contentLoad(this)">Profile
							Master</a></li>

					<li class="nav-item"><a class="nav-link" id="adminLeaveMaster"
						href="#" onclick="contentLoad(this)">Leave Master</a></li>

					<li class="nav-item"><a class="nav-link" id="adminODMaster"
						href="#" onclick="contentLoad(this)">OD Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminTimesheetMaster" href="#" onclick="contentLoad(this)">Time
							Sheet Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminCalendarMaster" href="#" onclick="contentLoad(this)">Calendar
							Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminHolidayMaster" href="#" onclick="contentLoad(this)">Holiday
							Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminDocumentMaster" href="#" onclick="contentLoad(this)">Document
							Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminReferenceMaster" href="#" onclick="contentLoad(this)">Reference
							Code Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminProjectMaster" href="#" onclick="contentLoad(this)">Project
							master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminTravelMaster" href="#" onclick="contentLoad(this)">Travel
							Master</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminExpenseReport" href="#" onclick="contentLoad(this)">Expenses
							Report</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminDailyActivity" href="#" onclick="contentLoad(this)">Daily
							Activity Details</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminWorkAssignment" href="#" onclick="contentLoad(this)">Work
							Assignment</a></li>

					<li class="nav-item"><a class="nav-link"
						id="adminDocumentMaintenance" href="#" onclick="contentLoad(this)">Document
							Maintenance</a></li>-->
				</ul></li>
				
				<!-- 
			<li class="nav-item"><a 
				class="nav-link nav-link-collapse pl-3" href="#" id="services"
				data-toggle="collapse" data-target="#collapseSubItems2"
				aria-controls="collapseSubItems2" aria-expanded="false">Services</a>

				<ul class="nav-second-level collapse" id="collapseSubItems2"
					data-parent="#navAccordion">

					<li class="nav-item"><a class="nav-link"
						id="ser_email" href="#" onclick="contentLoad(this)">E-Mail</a></li>
						
					<li class="nav-item"><a class="nav-link"
						id="ser_sms" href="#" onclick="contentLoad(this)">SMS</a></li>
					
					<li class="nav-item"><a class="nav-link"
						id="ser_alert" href="#" onclick="contentLoad(this)">Alert</a></li>
					
					<li class="nav-item"><a class="nav-link"
						id="ser_chat" href="#" onclick="contentLoad(this)">Chat</a></li>
					
					<li class="nav-item"><a class="nav-link"
						id="ser_events" href="#" onclick="contentLoad(this)">Events</a></li>
					
					

				</ul></li> -->

			

			<li class="nav-item"><a th:if="${RoleMenu?.role=='ADM'}"
				class="nav-link nav-link-collapse pl-3" href="#" id="hasSubItems"
				data-toggle="collapse" data-target="#collapseSubItems10"
				aria-controls="collapseSubItems10" aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Maintenance</a>
				
				
				

				<ul class="nav-second-level collapse" id="collapseSubItems10"
					data-parent="#navAccordion" style="background-color: #ff751a;">
					
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="Catcodemaintain" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Category maintenance
							</a></li>
							
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="Documentmanager" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Document Manager
							</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="InventoryMaster_2" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventory Master
							</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="Batchjobs" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Batch Jobs
							</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link"
						id="assets_flows" href="#" onclick="contentLoad(this)"
						style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation 
							</a></li>
<!--					<li class="nav-item"><a class="nav-link"
						id="MtAssociateProfile" href="#" onclick="contentLoad(this)">Associate
							Profile</a></li>

					<li class="nav-item"><a class="nav-link" id="MtProjectMaster"
						href="#" onclick="contentLoad(this)">Project Master</a></li>

					<li class="nav-item"><a class="nav-link" id="MtLeaveMaster"
						href="#" onclick="contentLoad(this)">Leave Master</a></li>

					<li class="nav-item"><a class="nav-link" id="MtOnDuty"
						href="#" onclick="contentLoad(this)">On Duty</a></li>

					<li class="nav-item"><a class="nav-link" id="timesheetMain"
						href="#" onclick="contentLoad(this)">Time Sheet Master</a></li>

					<li class="nav-item"><a class="nav-link" id="MtTravelMaster"
						href="#" onclick="contentLoad(this)">Travel Master</a></li>

					<li class="nav-item"><a class="nav-link" id="MtExpenseReport"
						href="#" onclick="contentLoad(this)">Expense Report</a></li>

					<li class="nav-item"><a class="nav-link" id="MtEventMaster"
						href="#" onclick="contentLoad(this)">Event Master</a></li>

					<li class="nav-item"><a class="nav-link" id="MtWorkAssignment"
						href="#" onclick="contentLoad(this)">Work Assignment</a></li>-->

				</ul></li>


			<li class="nav-item"><a class="nav-link nav-link-collapse pl-3"
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems3" aria-controls="collapseSubItems3"
				aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Operation</a>

				<ul class="nav-second-level collapse" id="collapseSubItems3"
					data-parent="#navAccordion" style="background-color: #ff751a;">
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="InventoryMaster1"
						href="#" onclick="contentLoad(this)"style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventory Master</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="InventoryTransfer1"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventory Transfer</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Salesandwriteoff"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Sales and Write off</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Transactionmaster"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Transaction Master</a></li>
					<!-- <li class="nav-item"><a class="nav-link" id="changePassword"
						href="#" onclick="contentLoad(this)">Transaction Master</a></li> -->
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="assets_flows"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation</a></li>
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="asset_flows"
							href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Asset Flows</a></li>
					<!--<li class="nav-item"><a class="nav-link" id="travelMaster"
						href="#" onclick="contentLoad(this)">Apply Travel Plan</a></li>
					<li class="nav-item"><a class="nav-link" id="claimExpenses"
						href="#" onclick="contentLoad(this)">Claim Expenses</a></li>
					<li class="nav-item"><a class="nav-link" id="timeSheet"
						href="#" onclick="contentLoad(this)">Time Sheet</a></li>
					<li class="nav-item"><a class="nav-link" id="workAssignment"
						href="#" onclick="contentLoad(this)">Work Assignment</a></li>
					<li class="nav-item"><a class="nav-link" id="issueTracker"
						href="#" onclick="contentLoad(this)">Issue Tracker-Lodge</a></li>
							<li class="nav-item"><a class="nav-link" id="Performance_Evaluation"
							href="#" onclick="contentLoad(this)">Performance Evaluation</a></li>-->
				</ul></li>

<!--			<li class="nav-item"><a class="nav-link nav-link-collapse pl-3" th:if="${RoleMenu?.role=='ADM'}"
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems4" aria-controls="collapseSubItems4"
				aria-expanded="false">Placement</a>
				<ul class="nav-second-level collapse" id="collapseSubItems4"
					data-parent="#navAccordion">

					<li class="nav-item"><a class="nav-link" id="clientMaster"
						href="#" onclick="contentLoad(this)">Client Master</a></li>

					<li class="nav-item"><a class="nav-link" id="bankMaster"
						href="#" onclick="contentLoad(this)">Bank Master</a></li>

					<li class="nav-item"><a class="nav-link" id="invoiceMaster"
						href="#" onclick="contentLoad(this)">Invoice Master</a></li>

					<li class="nav-item"><a class="nav-link" id="Pomaintenance"
						href="#" onclick="contentLoad(this)">Placement Maintenance</a></li>

					<li class="nav-item"><a class="nav-link" id="PurchaseOrders"
						href="#" onclick="contentLoad(this)">Purchase Orders</a></li>

					<li class="nav-item"><a class="nav-link"
						id="PurchaseOrderDetails" href="#" onclick="contentLoad(this)">Purchase
							Order Details</a></li>

					<li class="nav-item"><a class="nav-link" id="GRNDetails"
						href="#" onclick="contentLoad(this)">GRN Details</a></li>

					<li class="nav-item"><a class="nav-link" id="InvoiceDetails"
						href="#" onclick="contentLoad(this)">Invoice Details</a></li>

					<li class="nav-item"><a class="nav-link" id="Acknowledgement"
						href="#" onclick="contentLoad(this)">Acknowledgement</a></li>

					<li class="nav-item"><a class="nav-link" id="ackt"
						href="#" onclick="contentLoad(this)">Acknowledgement Mail Receiver</a></li>
						
					<li class="nav-item"><a class="nav-link" id="gst"
						href="#" onclick="contentLoad(this)">GST</a></li>
						
					<li class="nav-item"><a class="nav-link" id="TDS"
						href="#" onclick="contentLoad(this)">TDS</a></li>
						
					<li class="nav-item"><a class="nav-link" id="Remittances"
						href="#" onclick="contentLoad(this)">Remittances</a></li>

					<li class="nav-item"><a class="nav-link" id="SPRates" href="#"
						onclick="contentLoad(this)">SP Rates</a></li>

					<li class="nav-item"><a class="nav-link" id="SPInvoices"
						href="#" onclick="contentLoad(this)">SP Invoices</a></li>

					<li class="nav-item"><a class="nav-link" id="PO_Status"
						href="#" onclick="contentLoad(this)">PO_Status</a></li>

					<li class="nav-item"><a class="nav-link" id="SPPayments"
						href="#" onclick="contentLoad(this)">SP Payments</a></li>

					<li class="nav-item"><a class="nav-link" id="GRNStatus"
						href="#" onclick="contentLoad(this)">GRN Status</a></li>




				</ul></li>-->

			<li class="nav-item"><a class="nav-link nav-link-collapse pl-3"
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems5" aria-controls="collapseSubItems5"
				aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Inquiries</a>
				<ul class="nav-second-level collapse" id="collapseSubItems5"
					data-parent="#navAccordion" style="background-color: #ff751a;">
			<!-- 		<li class="nav-item"><a class="nav-link"
						id="attendanceRegisterInquries" href="#"
						onclick="contentLoad(this)">Attendance Register </a></li>
					<li class="nav-item"><a class="nav-link"
						id="organizationPolicy" href="#" onclick="contentLoad(this)">Organization
							Policy </a></li>
					<li class="nav-item"><a class="nav-link" id="holidayMaster"
						href="#" onclick="contentLoad(this)">Holiday Master </a></li>
					<li class="nav-item"><a class="nav-link" id="associateMaster"
						href="#" onclick="contentLoad(this)">Associate Profile </a></li>
					<li class="nav-item"><a class="nav-link" id="profileMaster"
						href="#" onclick="contentLoad(this)">Profile Master</a></li>
					<li class="nav-item"><a class="nav-link" id="projectMaster"
						href="#" onclick="contentLoad(this)">Project Master </a></li>
					<li class="nav-item"><a class="nav-link" id="leaveMaster"
						href="#" onclick="contentLoad(this)">Leave Master</a></li>
					<li class="nav-item"><a class="nav-link" id="onDuty" href="#"
						onclick="contentLoad(this)">On-Duty </a></li>
					<li class="nav-item"><a class="nav-link" id="timesheetMaster"
						href="#" onclick="contentLoad(this)">Time Sheet Master </a></li>
					<li class="nav-item"><a class="nav-link" id="listOfTravel"
						href="#" onclick="contentLoad(this)">Travel Master </a></li>
					<li class="nav-item"><a class="nav-link" id="expensesReport"
						href="#" onclick="contentLoad(this)">Expenses Report</a></li>
					<li class="nav-item"><a class="nav-link" id="listOfIssue"
						href="#" onclick="contentLoad(this)">Issue Tracker</a></li>
					<li class="nav-item"><a class="nav-link" id="workAssignList"
						href="#" onclick="contentLoad(this)">Work Assignment</a></li> 
					<li class="nav-item"><a class="nav-link" id="solutionDocument"
						href="#" onclick="contentLoad(this)">Depreciation</a></li>-->
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="InventoryMaster_2"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventory Master</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="acquisition"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Acquisition</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="InventoryTransferlist"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Transfers</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Sales"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Sales</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Writeoff"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Write off</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="assets_flows"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="DepreciationTransaction"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation Transaction</a></li>
				</ul></li>

			<li class="nav-item"><a class="nav-link nav-link-collapse pl-3"
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems6" aria-controls="collapseSubItems6"
				aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Reports</a>

				<ul class="nav-second-level collapse" id="collapseSubItems6"
					data-parent="#navAccordion" style="background-color: #ff751a;">
                    <li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="inventoryReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventory Register</a></li>
					<li class="nav-item" style="margin-left:-25px" ><a class="nav-link" id="transferReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Transfer Report</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="saleReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Sale Register</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="writeoffReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Write Off Register</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="depreciationReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation Report</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Depreciationtran" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation Tran Report</a></li>
					<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="printReport" th:if="${RoleMenu?.role=='ADM'}"
						href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Print Master</a></li>
						
				</ul></li>
			<!--<li class="nav-item"><a class="nav-link nav-link-collapse pl-3" th:if="${RoleMenu?.role=='ADM'}"
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems7" aria-controls="collapseSubItems7"
				aria-expanded="false">Audit</a>



				<ul class="nav-second-level collapse" id="collapseSubItems7"
					data-parent="#navAccordion">
					<li class="nav-item"><a class="nav-link" id="esi" href="#"
						onclick="contentLoad(this)">ESI</a></li>
					<li class="nav-item"><a class="nav-link" id="spf" href="#"
						onclick="contentLoad(this)">SPF</a></li>

				</ul></li>
				
				
				
				<li class="nav-item"><a  th:if="${RoleMenu?.role=='ADM'}"class="nav-link nav-link-collapse pl-3" 
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems99" aria-controls="collapseSubItems99"
				aria-expanded="false">Recruitment</a>

				
					<ul class="nav-second-level collapse" id="collapseSubItems99" data-parent="#navAccordion">
						<li class="nav-item"><a class="nav-link" id="cvf" href="#"
							onclick="contentLoad(this)">Cvf Candidate Evaluation Form</a></li>
						<li class="nav-item"><a class="nav-link" id="offerLetter"
							href="#" onclick="contentLoad(this)">Offer Letter</a></li>
							
							<li class="nav-item"><a class="nav-link"
							id="salarystructures" href="#" onclick="contentLoad(this)">Salary
								Structure</a></li>
								
								<li class="nav-item"><a class="nav-link"
							id="SalaryRevision" href="#" onclick="contentLoad(this)">Salary
								Revision</a></li>
								
						<li class="nav-item"><a class="nav-link"
							id="Appointment_Letter" href="#" onclick="contentLoad(this)">Appointment
								Letter</a></li>
						
						<li class="nav-item"><a class="nav-link"
							id="assosiateProfile" href="#" onclick="contentLoad(this)">Assosiate
								Profile</a></li>
						<li class="nav-item"><a class="nav-link" id="promanager"
							href="#" onclick="contentLoad(this)">Profile Manager</a></li>
					</ul>
				</li>-->

			<li class="nav-item"><a th:if="${RoleMenu?.role=='ADM'}" class="nav-link nav-link-collapse pl-3" 
				href="#" id="hasSubItems" data-toggle="collapse"
				data-target="#collapseSubItems11" aria-controls="collapseSubItems11"
				aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Graphs</a>

				
					<ul class="nav-second-level collapse" id="collapseSubItems11" data-parent="#navAccordion" style="background-color: #ff751a;">
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Graphs"
							href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Inventories</a></li>
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Dep_Graphs"
							href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Depreciation</a></li>
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Categ_Graphs" href="#"
							onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Categories</a></li>
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Location_Graphs"
							href="#" onclick="contentLoad(this)" style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Locations</a></li>
							<!--<li class="nav-item"><a class="nav-link" id="salary_parameters"
							href="#" onclick="contentLoad(this)">Salary Parameters</a></li>
							<li class="nav-item"><a class="nav-link" id="Taxation_parameters"
							href="#" onclick="contentLoad(this)">Taxation Parameters</a></li>
							<li class="nav-item"><a class="nav-link" id="Performance_Evaluation"
							href="#" onclick="contentLoad(this)">Performance Evaluation</a></li>-->
					</ul>
				</li>
				<li class="nav-item"><a th:if="${RoleMenu?.role=='ADM'}" class="nav-link nav-link-collapse pl-3" 
				href="#" id="hasaudItems" data-toggle="collapse"
				data-target="#collapseSubItems12" aria-controls="collapseSubItems12"
				aria-expanded="false"
				style="border-bottom: 3px solid white; background-color:#f26223;font-weight: bold">Audit</a>

				
					<ul class="nav-second-level collapse" id="collapseSubItems12" data-parent="#navAccordion"
					style="background-color: #ff751a;">
						<li class="nav-item" style="margin-left:-25px"><a class="nav-link" id="Audit"
							href="#" onclick="contentLoad(this)"
							style="color: white; padding-left: 50px; font-weight: bold; background-color: #ff751a;">Audit</a></li>
					</ul>
				</li>

			<li class="nav-item"><a class="nav-link pl-3"
				data-toggle="collapse" href="#logout" id="logout"
				onclick="contentLoad(this)"
				style="border-bottom: 3px solid white; background-color:#f26223;color:white;font-weight: bold">Logout</a></li>
		</ul>
	</div>

</body>

</html>